{
  "printWidth": 100,
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<TYPES>",
    "<TYPES>^[.]",
    "<THIRD_PARTY_MODULES>",
    "^@lib/(.*)$",
    "^@components/(.*)$",
    "^@(server|trpc)/(.*)$",
    "^~/(.*)$",
    "^[.]",
    ".css$"
  ],
  "plugins": [
    "prettier-plugin-astro",
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
