---
import type { Lang } from "~/i18n/utils";
import { Image } from "astro:assets";
import { TbBrandGithub } from "solid-icons/tb";
import LangToggle from "./LangToggle";
import SidebarToggle from "./SidebarToggle";
import ThemeToggle from "./ThemeToggle";

const url = Astro.url.pathname.split("/").slice(2).join("/");
const { lang } = Astro.params as { lang: Lang };
---

<header class="container px-4 py-2 md:px-6 md:py-3">
  <div class="flex items-center justify-between">
    <nav>
      <a href=`/${lang}`>
        <div class="flex w-fit items-center gap-1 text-xl font-bold leading-5">
          <Image src="/logo/64.png" alt="Uta/Tools" width="40" height="40" />
          <div>
            <span class="text-violet-500 dark:text-violet-400">Uta</span>/<span>Tools</span>
          </div>
        </div>
      </a>
    </nav>
    <div class="flex gap-2">
      <div class="h-10 w-10">
        <a
          href="https://github.com/pekochan069/uta-tools"
          target="_blank"
          rel="noreferrer"
          class="inline-flex h-10 w-10 items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors hover:bg-accent hover:text-accent-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
        >
          <TbBrandGithub class="h-[1.2rem] w-[1.2rem]" />
        </a>
      </div>
      <div class="h-10 w-10">
        <LangToggle client:only="solid-js" lang={lang} url={url} />
      </div>
      <div class="h-10 w-10">
        <ThemeToggle client:only="solid-js" />
      </div>
      <div class="h-10 w-10 md:hidden">
        <SidebarToggle client:only="solid-js" lang={lang} />
      </div>
    </div>
  </div>
</header>
