---
import {
  ContentConfigSection,
  ContentConfigRoot,
  ContentConfigLabel,
  ContentConfig,
} from "~/components/common/Config";
import { Label } from "~/components/ui/label";
import { Operation, Repeat } from "./Config";
import {
  HexInput,
  HexInputClearButton,
  HexInputCopyButton,
  HexInputPasteButton,
} from "./Input";
import { HexOutput, HexOutputCopyButton } from "./Output";
import SwapInputOutput from "./SwapInputOutput";
---

<div>
  <ContentConfigSection>
    <ContentConfigRoot>
      <ContentConfigLabel
        name="Operation"
        description="Select whether to encode or decode the input"
      />
      <ContentConfig>
        <Operation client:load />
      </ContentConfig>
    </ContentConfigRoot>
    <ContentConfigRoot class="py-2.5 md:py-4">
      <ContentConfigLabel
        name="Repeat"
        description="Set repeat count for operation"
      />
      <ContentConfig>
        <Repeat client:load />
      </ContentConfig>
    </ContentConfigRoot>
  </ContentConfigSection>
</div>

<div class="mt-6">
  <div class="mb-2 flex items-end justify-between">
    <Label for="hex-input" class="font-semibold">Input</Label>
    <div class="h-10">
      <HexInputClearButton client:only />
      <HexInputPasteButton client:only />
      <HexInputCopyButton client:only />
    </div>
  </div>
  <HexInput client:load />
</div>

<div class="mt-10 grid h-12 place-content-center">
  <SwapInputOutput client:only />
</div>

<div class="mb-6">
  <div class="mb-2 flex items-end justify-between">
    <Label for="hex-output" class="font-semibold">Output</Label>
    <div class="h-10">
      <HexOutputCopyButton client:only />
    </div>
  </div>
  <HexOutput client:load />
</div>
