---
import {
  ContentConfig,
  ContentConfigLabel,
  ContentConfigRoot,
  ContentConfigSection,
} from "~/components/common/Config";
import * as m from "~/paraglide/messages";
import CopyTimelinesButton from "./CopyTimelinesButton";
import InputForm from "./InputForm";
import SortTimelinesButton from "./SortTimelinesButton";
import { RememberData, YoutubeUrl } from "./TimelinesConfigs";
import TimelinesTable from "./TimelinesTable";
import TimelineTableFooter from "./TimelinesTableFooter";
---

<div class="pb-20">
  <ContentConfigSection>
    <ContentConfigRoot>
      <ContentConfigLabel
        name={m.tools_common_link()}
        description={m.tools_youtube_timeline_link_description()}
      />
      <ContentConfig>
        <YoutubeUrl client:load />
      </ContentConfig>
    </ContentConfigRoot>
    <ContentConfigRoot>
      <ContentConfigLabel
        name={m.tools_youtube_timeline_save()}
        description={m.tools_youtube_timeline_save_description()}
      />
      <ContentConfig>
        <RememberData client:only="solid-js" />
      </ContentConfig>
    </ContentConfigRoot>
  </ContentConfigSection>
  <div class="min-h-[100svh]">
    <div class="mt-6 flex justify-center md:mt-8">
      <div id="player-container" class="w-full max-w-xl rounded-md bg-muted shadow-sm">
        <div class="relative h-0 w-full pb-[56.25%]">
          <div id="player" class="absolute left-0 top-0 h-full w-full"></div>
          <div
            id="player-placeholder-image"
            class="absolute z-50 grid h-full w-full place-content-center data-[player=ready]:invisible data-[player=ready]:hidden"
          >
            <img src="/logo/128.png" alt="Waiting for input" />
          </div>
        </div>
      </div>
    </div>
    <div class="mt-6 md:mt-8">
      <div class="mx-auto flex w-full max-w-xl flex-col gap-4 md:flex-row">
        <InputForm client:load />
        <div class="flex justify-end">
          <div class="grid grid-cols-2 gap-2">
            <SortTimelinesButton client:load />
            <CopyTimelinesButton client:load />
          </div>
        </div>
      </div>
    </div>
    <TimelinesTable client:only="solid-js" />
    <TimelineTableFooter client:only="solid-js" />
  </div>
</div>
