---
import { ContentConfigSection, ContentConfigRoot, ContentConfigLabel, ContentConfig } from "~/components/common/Config";
import SortTimelinesButton from "./SortTimelinesButton";
import CopyTimelinesButton from "./CopyTimelinesButton";
import InputForm from "./InputForm";
import TimelinesTable from "./TimelinesTable";
import TimelineTableFooter from "./TimelinesTableFooter";
import { YoutubeUrl, RememberData } from "./TimelinesConfigs";
---

<div class="pb-20">
  <ContentConfigSection>
    <ContentConfigRoot>
      <ContentConfigLabel name="Link" description="Link to a YouTube video to generate a timeline for" />
      <ContentConfig>
        <YoutubeUrl client:load />
      </ContentConfig>
    </ContentConfigRoot>
    <ContentConfigRoot>
      <ContentConfigLabel name="Save Data" description="Save timeline data" />
      <ContentConfig>
        <RememberData client:only />
      </ContentConfig>
    </ContentConfigRoot>
  </ContentConfigSection>
  <div class="min-h-[100svh]">
    <div class="mt-6 flex justify-center md:mt-8">
      <div id="player-container" class="w-full max-w-xl rounded-md bg-muted shadow-sm">
        <div class="relative h-0 w-full pb-[56.25%]">
          <div id="player" class="absolute left-0 top-0 h-full w-full"></div>
          <div
            id="player-placeholder-image"
            class="absolute z-50 grid h-full w-full place-content-center data-[player=ready]:invisible data-[player=ready]:hidden"
          >
            <img src="/logo/128.png" alt="Waiting for input" />
          </div>
        </div>
      </div>
    </div>
    <div class="mt-6 md:mt-8">
      <div class="mx-auto flex w-full max-w-xl flex-col gap-4 md:flex-row">
        <InputForm client:load />
        <div class="flex justify-end">
          <div class="grid grid-cols-2 gap-2">
            <SortTimelinesButton client:load />
            <CopyTimelinesButton client:load />
          </div>
        </div>
      </div>
    </div>
    <TimelinesTable client:only />
    <TimelineTableFooter client:only />
  </div>
</div>
