---
import { TbChevronRight } from "solid-icons/tb";

import WithSidebar from "./WithSidebar.astro";

const { category, name, frontmatter } = Astro.props;

const c = category ? category : frontmatter.category;
const n = name ? name : frontmatter.name;

const capitalize = (str: string) => {
  return str
    .split("-")
    .map((s) => s[0].toUpperCase() + s.substring(1))
    .join(" ");
};
---

<WithSidebar title={capitalize(n)}>
  <main class="py-4">
    <div class="mb-4 flex items-center gap-x-1 text-sm text-muted-foreground">
      <h2 class="capitalize">
        {c}
      </h2>
      <TbChevronRight class="inline-block h-4 w-4" />
      <h3 class="font-semibold capitalize">
        {n}
      </h3>
    </div>
    <slot />
  </main>
</WithSidebar>
