---
import type { Lang } from "~/i18n/utils";
import { currentContent } from "~/atoms/currentContent";
import ShowDescription from "~/components/contents/tldr/ShowDescription";
import { H1, Muted, P } from "~/components/ui/typography";
import { languageTag } from "~/paraglide/runtime";
import ContentLayout from "./ContentLayout.astro";

const lang = languageTag();
const { i18n, description } = currentContent.get();
---

<ContentLayout>
  <H1>
    {i18n[lang]}
  </H1>
  <P>
    <Muted>{description[lang]}</Muted>
  </P>
  <ShowDescription client:load />
  <slot />
</ContentLayout>
