---
import ContentLayout from "./ContentLayout.astro";
import { currentContent } from "~/atoms/currentContent";

import { H1, P, Muted } from "~/components/ui/typography";

const { name, description } = currentContent.get();
---

<ContentLayout>
  <H1>
    {name}
  </H1>
  {
    description !== "" && (
      <P>
        <Muted>{description}</Muted>
      </P>
    )
  }
  <slot />
</ContentLayout>
