---
import ContentLayout from "./ContentLayout.astro";

const paths = Astro.url.pathname
  .split("/")
  .filter((p) => p !== "" && p !== "tools");
const category = paths[0];
const name = paths[1].replace("-", " ");

const description = "";
---

<ContentLayout category={category} name={name}>
  <div>
    <h1 class="mb-4 text-3xl font-bold">{name}</h1>
  </div>
  {
    description && (
      <div>
        <p class="text-balance text-muted-foreground">{description}</p>
      </div>
    )
  }
  <div>
    <slot />
  </div>
</ContentLayout>
