---
import ThumbnailInput from "./ThumbnailInputForm";
import ThumbnailImages from "./ThumbnailImages";
---

<div>
  <ThumbnailInput client:load />
  <div class="mt-12">
    <ThumbnailImages client:load />
  </div>
</div>
